* -text

.editorconfig   text
.gitattributes  text
.gitignore      text
LICENSE         text
*.md            text
*.js            text
*.ts            text
*.tsx           text
*.json          text
*.yml           text
