# Ignore everything by default:
/*
/*/

# But allow those files and folders:
!/LICENSE
!/README.md
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.github
!/.prettierignore
!/.vscode
!/src
!/test
!/register.typescript.js
!/tsconfig.json
!/package.json

# But make sure to ignore those regardless:
WAS *
